<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    p{
      color: red;
    }
  </style>
</head>
<body>
  <div id="app">
    <button v-on:click="hi">Click Me</button> <br>
    <h1>{{ message }}</h1>
    <button @click="dec()">Decrease</button>
    <button @click="inc()">Increase</button>
    <p v-if="message < 0">This is minus value</p>
    <p v-if="message == 0">This is equally zero</p>
    <p v-if="message > 0">This is plus value</p>
    <input type="text" v-model="hello" v-on:keyup.enter="sayHi()">{{hello}} <button @click="sayHi()">send</button>
    
  </div>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
  let app = new Vue({
    el : '#app',
    data : {
      message : 0,
      hello : '',
    },

    methods: {
      hi: function(){
        alert('Hello');
      },
      inc(){
        this.message++;
      },
      dec(){
        this.message--;
      },
      sayHi(){
        alert(this.hello);
      }
    },
  })
</script>
</html>